.DS_Store
__pycache__/
*.py[cod]
*.egg-info/
.pytest_cache/
.mypy_cache/
.ruff_cache/

.venv/
venv/
env/

credentials.txt
credentials.json
.env

output/
.sqlite/
sources/dataset.json
sources/all_usernames_full.csv